---
layout: default
css: ['sidebar-post-nav.css']
---
{% include jumbotron.html %}

{% capture image_root %}"/assets/images/{% endcapture %}
{% capture image_cdn_root %}"{{ site.cdn_root }}/assets/images/{% endcapture %}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="row">

        {% if page.no-post-nav %}
        <div class="col-md-12 markdown-body">
            {% include lang-link.html %}
            {{ content | replace: image_root, image_cdn_root }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>
        {% else %}
        <div class="col-md-9 markdown-body">
            {% include lang-link.html %}
            {{ content | replace: image_root, image_cdn_root }}

            <!-- Comments -->
            {% include disqus-comments.html %}
        </div>

        <div class="col-md-3">
            {% include sidebar-post-nav.html %}
        </div>
        {% endif %}

    </div>

</article>
